services:
  rpi-node-1:
    image: prom/node-exporter:latest
    container_name: rpi-node-1
    restart: unless-stopped
    ports:
      - "9101:9100"

  rpi-node-2:
    image: prom/node-exporter:latest
    container_name: rpi-node-2
    restart: unless-stopped
    ports:
      - "9102:9100"

  rpi-node-3:
    image: prom/node-exporter:latest
    container_name: rpi-node-3
    restart: unless-stopped
    ports:
      - "9103:9100"
