apiVersion: 1

datasources:
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "filebeat-*"
    isDefault: false
    editable: true
    jsonData:
      timeField: "@timestamp"
      esVersion: "8.17.0"
      logMessageField: message
      logLevelField: log.level
