global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert.rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "rpi-nodes"
    static_configs:
      - targets:
          - "rpi-node-1:9100"  # RPi 1 (demo)
          - "rpi-node-2:9100"  # RPi 2 (demo)
          - "rpi-node-3:9100"  # RPi 3 (demo)
